body{
    background-color: #F2F4F5;
}


#side_bar{
    position: relative;
    float: left; 
    height: 700px;
    background-color: blue; 
    
}
#side_bar li{
    list-style: none;
    text-align: left;
    margin-top:8px;
    color: black;
    text-decoration: none;  
    padding: 10px; 
    
}
#side_bar li > a > div{

    color: black;
    text-decoration: none;    
}

#side_bar li > a{

    color: black;
    text-decoration: none;    
}


#side_bar li  :hover{
    background-color: #7C73E6;
    color: white;
}

.side_bar_seperators{
    margin-top: 10px;
    padding: 2px;
    color: indigo; 
    font-weight:bolder;
}
.item_wrap{
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    
}
.normal-box{
    margin-top: 6px;
    background: #fff;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    border-radius:0.5rem;
    width: 3rem;
    height:12rem;
    margin-left: 50px;
}
.heading-text{
    font-weight: bold;
    font-size: 20px;
}

.normal-text{
    font-size: 14px;
}
#Welcome-tag{
    margin-top: 6px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    background-color: #7C73E6;
    opacity: 20;
    color: white;
    border-radius: 0.5rem;
    margin-left: 50px;

}
#side-box{
    margin-top: 6px;
    background: #fff;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    border-radius:0.5rem;
    width: 3rem;
    height:24.5rem;
    margin-left:15px;
}
.box{
    margin-top: 6px;
    background: #fff;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    text-align: center;
    border-radius:0.5rem;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    

}
