#Main_Conatainer{
    margin-top: 10%;
}
.box{
        background: #fff;
        margin: 0 0 30px;
        border: solid 1px #e6e6e6;
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);}
   
}
.subheading{
    font-size: 18px;
    font-weight: bolder;
    color: blueviolet;
}
.text{
    font-size: 10px;
    font-style: italic;
    text-decoration: underline;
}