{% extends "layout.html" %}

{% block header %}

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard_style.css') }}">

{% endblock %}


{% block title %} 

Portal | Dashboard

{% endblock %}


{% block body %}
<div class="container">
    <div class="col-2 side_bar">
        <ul>
            <li><img src="static/images/artistic_logo.jpg" width="100" height="50"></li>
            <li>Dashboard</li>
            <li>Me</li>
            <li>Time Off</li>
            <li>My documents</li>
            
        </ul>


    </div>


</div>

{% endblock %}