{% extends "dashboardlayout.html" %}

{% block pagecontent %}
    <!--First row-->
    <div class="row">
        
        <div class="col-8">
                <div class="row">
                        <div class="col-4" id="Welcome-tag">
                            <p class="heading-text">Welcome Back</p>
                            <p class="heading-text">Zohaib Ali</p>
                            <p class="normal-text">Here's Whats new in AM</p>

                
                        </div>
                        <div class=" col-4 normal-box ">
                           
                        </div>
                </div>
                <div class="row">
                        <div class=" col-4 normal-box ">
                
                        </div>
                        <div class=" col-4 normal-box ">
                           
                        </div>
                </div>
        </div>
       
         
         <div class="col-3" id="side-box">
        
         </div>

    </div>
    <!--second row-->
    <div class="row no-gutter">
        <div class="col-2 box">

        </div>
        <div class="col-2 box">

        </div>
        <div class="col-2 box">

        </div>
        <div class="col-2 box">

        </div>

    </div>
    



{% endblock %}
